@font-face {
  font-family: "Nexa Light";
  font-style: normal;
  src: url('./fonts/Nexa Light.otf');
  }

@font-face {
  font-family: "Nexa Bold";
  font-weight: bold;
  font-style: normal;
  src: url('./fonts/Nexa Bold.otf');
}

@font-face {
  font-family: "Felt Tip Woman";
  src: url("./fonts/Felt Tip Woman.ttf") format('ttf');
}

@font-face {
  font-family: "Open Sans Light";
  font-style: normal;
  src: url('./fonts/OpenSans-Light.ttf') format('ttf');
}
