body {
  font-family: "Open Sans", sans-serif;
}
.main {
  background: #fff url("../img/bkg-header.jpg");
  background-size: cover;
}
.navbar-header {
  background: #fff;
  opacity: .7;
  @media (min-width: 768px) {
    background: transparent;
  }
}
.navbar-nav {
  float: none;
  max-width: 650px;
  margin: 0 auto;
}
.main__nav {
  text-transform: uppercase;
  border-radius: 0;
  border: none;
  background: transparent;

  li {
    a {
      font-weight: lighter;
      font-size: 24px;
      padding: 40px 25px;
      background: #fff;
      opacity: .7;
      @media (min-width: 768px) {
        background: transparent;
      }
      .active {
        background: #000;
      }

    }
    a:hover {
      text-decoration: none;
    }



  }

  &--light {
    border-bottom: 1px solid #ffffff;
    li {
      a {
        color: #f1f1f1;
      }
      a:hover {
        color: #888;
        outline: 1px solid #ffffff;
      }
     }
  }
    &--dark {
      border-bottom: 1px solid #888;
      li {
        a {
          color: #aaa;
        }
        a:hover {
          color: #666;
          outline: 1px solid #888;
        }
    }
  }
}

.logo {
  max-width: 474px;
  margin: 0 auto;
  position: relative;
  margin-top: 145px;

  img {
    width: 100%;
  }
}
.logo__header {
  max-width: 735px;
  font-weight: lighter;
  font-size: 60px;
  color: #ffffff;
  margin: 55px auto 135px auto;
}

.scroll {
  //width: 600px;
  margin-top: 80px;
  //margin-left: auto;
  //margin-right:auto;
  margin-bottom: 110px;
  position: relative;
  text-align: center;
  a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;

    //color: #ffffff;

    img {
      position: absolute;
      top: 80px;
      left: calc(50% - 16px);
    }
  }
  &::after {
    //background-image: url("../img/scroll.gif");
  }
  &--light {
    color: #000;
    a {
      color: #fff;
    }

  }
  &--dark {
    a{ 
      color: #bebebe;
    }
    .navbar-brand {
      color: #bebebe;;
    }

  }
}
.mobile-brand {
  color: #000;
  font-weight: bold;
}
.about {
  margin-left: calc(4.7% - 15px);

  &__header {
    font-weight: lighter;
    font-size: 21px;
    color: #000;
    padding-left: 10px;
    @media (min-width: 768px) {
      font-size: 60px;
    }
  }
  &__p {
    font-weight: lighter;
    font-size: 16px;
    padding-left: 10px;
    @media (min-width: 768px) {
      font-size: 24px;
    }
  }
  &__author {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 15px;
    padding-left: 10px;
    @media (min-width: 768px) {
      font-size: 36px;
    }
  }
}

.biography {
  max-width: 100%;
}

.portf {
  background: #fff url("../img/bkg-portfolio.jpg");
  background-size: cover;

  &__h {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
    margin: 15px 0;
    margin-top: 45px;
    @media (min-width: 768px) {
      font-size: 60px;
      margin: 90px 0;
    }
  }
}
//.galery  img {
//  margin-left: 26px;
//  margin-top: 50px;
//  display: inline-block;
//  text-align: center;
//}

.galery  {
  padding: 0;
  ul {
    text-align: center;
    padding: 0;
    max-width: 1600px;
    margin:0 auto;
    li {


      text-align: center;
      padding: 15px;
        //margin-left: 26px;
        //margin-top: 50px;
     @media (min-width: 480px) {
       float: left;
       width: 50%;
      }
      @media (min-width: 767px) {
        width: 33.333%;
      }
      @media (min-width: 992px) {
        width: 20%;
      }
    }

      img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
      }
    }
  }


.contacts {
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  @media (min-width: 768px) {
    margin-top: 50px;
  }
  &__h {
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    @media (min-width: 768px) {
      margin-top: 60px;
    }
  }
  &__mail {
    font-weight: lighter;
    font-size: 60px;
    text-decoration: none;
    color: #000;
    margin-top: 45px;
    
    &:hover {
      text-decoration: none;
    }
  }
  &__phone {
    font-weight: lighter;
    font-size: 48px;
    color: #000;
    margin-top: 45px;
  }
  &__social {
    margin-top: 15px;

    a{
      text-decoration: none;
      margin-left: 25px;
    }
    a:first-child {
      margin-left: 0;
    }
  }
}
.footer {
  border-top: 1px solid #888;
  text-align: center;
  margin-top: 100px;
  padding-top: 40px;
  padding-bottom: 45px;
  color: #888;
  font-size: 18px;
  font-weight: lighter;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .contacts {
    &__h {
      font-size: 20px;
    }
    &__mail {
      font-size: 20px;
    }
    &__phone {
      font-size: 25px;
    }
  }


}
//@media (max-width: 480px) {
//  .galery>ul>li {
//    margin-left: -15px;
//    padding-left: 0;
//  }
//}